
.sidebar {
	display   : flex;
	flex-wrap : wrap;
	gap       : var(--space);

	& > :first-child {
		flex-basis : 50rem;
		flex-grow  : 1;
	}

	& > :last-child {
		flex-basis      : 0;
		flex-grow       : 999;
		min-inline-size : 50%;
	}
}